<mat-toolbar>
  <span>QUANTSIRI</span>
  <span class="toolbar-spacer"></span>

  <input id="darkMode" type="checkbox" [checked]="darkMode$ | async" (change)="onToggle()" class="darkmode-toggle" />
  <label class="darkmode-toggle-label" for="darkMode">
    <img src="https://raw.githubusercontent.com/talohana/angular-dark-mode/master/src/assets/moon.svg" class="moon" />
    <img src="https://raw.githubusercontent.com/talohana/angular-dark-mode/master/src/assets/sun.svg" class="sun" />
  </label>

</mat-toolbar>
