// toolbar
mat-toolbar {
  height: 48px !important;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
// toolbar

// darkmode
.darkmode-toggle {
  display: none;
}

.darkmode-toggle-label {
  position: relative;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
}

.sun,
.moon {
  position: absolute;
  left: 0;
  width: 100%;
  height: auto;
  transition: top 0.3s;
}

.sun {
  top: 0;
}

.moon {
  top: -150%;
}

.darkmode-toggle:checked + .darkmode-toggle-label .sun {
  top: 150%;
}

.darkmode-toggle:checked + .darkmode-toggle-label .moon {
  top: 0;
}
// darkmode
